/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 320px;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px 20px 90px 20px;
  background-image: url(../image/backgroundImage/backgroundMiami.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__box-menu {
  background-image: url(../image/imageMenu.svg);
  display: block;
  width: 24px;
  height: 24px;
}
.header__box-menu:hover {
  background-image: url(../image/sideMenu.svg);
}
.header__phone-image {
  width: 24px;
  height: 24px;
}
.header__logo-image {
  width: 82px;
  height: 48px;
}
.header__title-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 118px;
}
.header__line {
  width: 40px;
  height: 2px;
  display: inline-block;
  border-radius: 8px;
  background: #fff;
}
.header__title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

.experience {
  display: block;
}
.experience__box-title {
  display: flex;
  width: 240px;
  height: 74px;
  padding: 0 60px 48px 20px;
}
.experience__title-black {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
}
.experience__title-link {
  color: var(--Blue, #0075FF);
  text-decoration: none;
}
.experience__subtitle {
  width: 280px;
  padding: 0 20px 16px 20px;
  color: var(--Blue, #0075FF);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.experience__box-text {
  width: 278px;
  padding: 0 20px 0 20px;
}
.experience__top-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3E3E3E;
  padding-bottom: 30px;
}
.experience__average-text {
  width: 294px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #3E3E3E;
  padding-bottom: 30px;
}
.experience__bottom-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #3E3E3E;
  padding-bottom: 40px;
}

.gallery {
  display: block;
}
.gallery__box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 280px;
  padding: 0 20px 26px 20px;
}
.gallery__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
}
.gallery__image {
  width: 24px;
  height: 24px;
}
.gallery__box-mix {
  width: 280px;
  padding: 0 20px 30px 20px;
}
.gallery__box-photo {
  display: flex;
  justify-content: space-between;
}
.gallery__box-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  color: #3E3E3E;
}
.gallery__link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--Blue, #0075FF);
  text-decoration: none;
}

.logo {
  width: 82px;
  height: 48px;
}

.header__container {
  display: flex;
  margin-bottom: 64px;
}

.menu {
  width: 320px;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px 0 106px 20px;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  background: var(--Blue, #0075FF);
  position: fixed;
}
.menu:target {
  transform: translateX(0%);
  overflow: hidden;
}
.menu__top-actions {
  display: flex;
  align-items: center;
}
.menu__close {
  width: 24px;
  height: 24px;
}
.menu__logo {
  width: 80%;
  display: flex;
  justify-content: center;
}
.menu__logo-image {
  width: 82px;
  height: 48px;
}
.menu__nav {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}
.menu__nav-link {
  padding-top: 32px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__nav-phone {
  padding-top: 48px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__nav-call {
  padding: 16px 0 8px 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__nav-line {
  width: 111px;
  height: 1px;
  display: inline-block;
  border-radius: 8px;
  background: #fff;
}

.menu :target {
  transform: translateX(-100%);
}

/*# sourceMappingURL=styles.css.map */
