.contact {
  &__box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $widthSection;
    height: 60px;
    margin-bottom: 30px;
  }
  &__title {
    width: $widthSection;
    height: 36px;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;
  }
  &__image-title {
    width: $imageMenu;
    height: $imageMenu;
  }
  &__info-phone {
    margin: 0 0 24px;
  }
  &__text-phone {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: $infoColorText;
    margin: 0 0 8px;
  }
  &__number-phone {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: $colorText;
    text-decoration: none;
    &:hover {
      color: $backgraundColor;
    }
  }
  &__info-email {
    margin: 0 0 24px;
  }
  &__text-email {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: $infoColorText;
    margin: 0 0 8px;
  }
  &__email {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: $colorText;
    text-decoration: none;
    &:hover {
      color: $backgraundColor;
    }
  }
  &__info-address {
    margin: 0 0 32px;
  }
  &__text-address {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: $infoColorText;
    margin: 0 0 8px;
  }
  &__address-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: $colorText;
    text-decoration: none;
   
    &:hover {
      color: $backgraundColor;
    }
  }
}
