@import "./variables.scss";
* {
  font-family: "Roboto", sans-serif;
}
.experience {
  &__box-title {
    display: flex;
    width: 240px;
    height: 74px;
    padding: 0 60px 48px 20px;
  }
  &__title-link {
    color: $backgraundColor;
    text-decoration: none;
  }
  &__subtitle {
    width: 280px;
    padding: 0 20px 16px 20px;
    color: $backgraundColor;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &__box-text {
    width: 278px;
    padding: 0 20px 0 20px;
  }
  &__top-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $colorText;
    padding-bottom: $padingBottomText;
  }
  &__average-text {
    width: 294px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $colorText;
    padding-bottom: $padingBottomText;
  }
  &__bottom-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: $colorText;
    padding-bottom: 40px;
  }
}
