@import "./variables.scss";
.experience {
  &__box-title {
    width: 240px;
    height: 74px;
    padding-bottom: 48px;
  }
  &__title-link {
    color: $backgraundColor;
    text-decoration: none;
  }
  &__subtitle {
    width: 280px;
    padding-bottom: 16px;
    color: $backgraundColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  &__box-text {
    width: 280px;
  }
  &__top-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $colorText;
    padding-bottom: $padingBottomText;
  }
  &__average-text {
    width: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $colorText;
    padding-bottom: $padingBottomText;
  }
  &__bottom-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: $colorText;
    
  }
}
