.footer {
  display: flex;
  background-image: url(../image/backgroundImage/backgroundFooter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vh;
  height: 206px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 64px;
  padding-bottom: 24px;
}
