@import "./variables.scss";
* {
  font-family: "Roboto", sans-serif;
}
.gallery {
  &__box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    padding: 0 20px 26px 20px;
  }
  &__image {
    width: 24px;
    height: 24px;
  }
  &__box-mix {
    width: 280px;
    // box-sizing: border-box;
    padding: 0 20px 32px 20px;
  }
  &__box-photo {
    display: flex;
    justify-content: space-between;
  }
  &__box-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: $fontSize;
    color: $colorText;
  }
  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: $fontSize;
    line-height: 26px;
    color: $backgraundColor;
    text-decoration: none;
  }
}
