@import "./variables.scss";
.gallery {
  display: block;
  &__box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 280px;
    padding: 0 20px 26px 20px;
  }
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;
  }
  &__image {
    width: 24px;
    height: 24px;
  }
  &__box-mix {
    width: 280px;
    padding: 0 20px 30px 20px;
  }
  &__box-photo {
    display: flex;
    justify-content: space-between;
  }
  &__box-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
    font-size: $fontSize;
    color: $colorText;
  }
  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: $fontSize;
    line-height: 26px;
    color: $backgraundColor;
    text-decoration: none;
  }
}
