@import "./variables.scss";
.header {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px 20px 90px 20px;
  background-image: url(../image/backgroundImage/backraundMiami\ onDesktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include onDesktop {
    padding: 24px 120px 80px 120px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box-menu {
    background-image: url(../image/imageMenu.svg);
    display: block;
    width: $imageMenu;
    height: $imageMenu;
    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
  &__box-menu:hover {
    background-image: url(../image/sideMenu.svg);
  }
  @include onDesktop {
    &__phone-box::before {
      width: max-content;
      content: "+1 234 555-55-55";
      color: #fff;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0;
      pointer-events: none;
    }
    &__phone-box:hover::before {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__phone-image {
    width: $imageMenu;
    height: $imageMenu;
    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
  &__title-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 118px;
    @include onDesktop {
      height: 210px;
    }
  }
  &__line {
    width: 40px;
    height: 2px;
    display: inline-block;
    border-radius: 8px;
    background: #fff;
  }
  &__title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
