$imageMenu: 24px;
$imageMenuBox: 100%;
$widthSection: 100hc;
$widthButton: 220px;
$heightButton: 56px;
$backgraundColor: var(--Blue, #0075ff);
$colorText: #3e3e3e;
$infoColorText: #9fadc2;
$padingBottomText: 30px;
$fontSize: 16px;
